.authorization {
  /* Экран */
  display: flex;
  width: 100%;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Текст */
  color: white;

  /* Отступы */
  margin: 0;
  padding: 0;
}